<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add/edit Cấu hình web</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidIdM" value="0" />
                            @*<label for="txtIdM" class="col-sm-2 control-label no-padding-right">Họ tên</label>
            <div class="col-sm-10">
                <input type="text" name="txtIdM" readonly class="form-control" id="txtIdM">
            </div>*@
                        </div>
                        <div class="form-group">
                            <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Tên</label>
                            <div class="col-sm-10">
                                <input id="txtNameM" rows="15" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatusM">
                                        <span class="text">Check để hiển thị.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtValue1" class="col-sm-2 control-label no-padding-right">Giá trị 1 (kiểu nội dung max)</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtValue1" class="form-control" id="txtValue1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtValue2" class="col-sm-2 control-label no-padding-right">Giá trị 2 (kiểu số)</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtValue2" class="form-control" id="txtValue2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckValue3">
                                        <span class="text">Value 3 (kiểu đúng sai) Check.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtValue4" class="col-sm-2 control-label no-padding-right">Giá trị 4 (thời gian)</label>
                            <div class="col-sm-10">
                                <input type="datetime" name="txtValue4" class="form-control" id="txtValue4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtValue5" class="col-sm-2 control-label no-padding-right">Giá trị 5 (kiểu số)</label>
                            <div class="col-sm-10">
                                <input type="number" name="txtValue5" class="form-control" id="txtValue5">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveM" class="btn btn-success">Save</button>
                                <button type="button" id="btnCancelM" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>